/.dist
/360_Videos_VR_Experiment.txt
/data
/report_mid_submission.aux
/report_mid_submission.fdb_latexmk
/report_mid_submission.fls
/report_mid_submission.log
/report_mid_submission.out
/report_mid_submission.pdf
/report_mid_submission.synctex.gz